---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
    <div class="container">
        <div class="row">
            <Menu currentPath="/faqs"/>
            <main>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 col-md-7 content">
                        <h3 class="bold">FAQS</h3>
                        <p>Preguntas acerca de mi para que me conozcas más. Si tienes alguna pregunta, <a href="mailto:carlos@gestudios.com">escríbeme</a></p>
                        <h4 class="bold text-3">¿En qué trabajas?</h4>
                        <p>Actualmente(2025) trabajo en una empresa de software como fullstack developer php, Vuejs. Soy parte del equipo interno de AI para investigación y desarrollo de productos y me encuentro en capacitación para SDET . También trabajo como freelance y doy asesorías en línea.</p>
                        <h4 class="bold text-3">¿Tienes mascotas, te gustan?</h4>
                        <p>Si, soy #teamperros. No me gustan los gatos.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</Layout>
