---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
    <div class="container">
        <div class="row">
            <Menu currentPath="/"/>
            <main>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 col-md-7 content">
                        <h3 class="bold">¿Quién soy?</h3>
                        <p><h1 style="font-size:16px; display:inline; font-weight: bold;">Soy Carlos Miguel Guevara</h1>, un desarrollador web full stack, freelance y  padrino de <a href="https://www.instagram.com/newtontheboston/">@newtontheboston</a>.</p>
                        <p>En mis tiempos libres doy clases y trabajo en proyectos personales. Puedes conocer más sobre  mi en <a href="https://twitter.com/cmguevarad">twitter</a> o conocer las películas y series que estoy viendo en <a href="https://trakt.tv/users/_cmguevara/history">trakt.tv</a> </p>
                        <p>Puedes revisar mi página de <a href="my-stack">my stack</a> para conocer los servicios y software que utilizo dia a dia, quizá me puedas recomendar uno.</p>

                    </div>
                </div>
            </main>
        </div>
    </div>
</Layout>
