---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
    <div class="container">
        <div class="row">
            <Menu currentPath="/"/>
            <main>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 col-md-7 content">
                        <h3 class="bold">Wishlist</h3>
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Enlace</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td nowrap>Amazon</td>
                                    <td><a href="https://www.amazon.com.mx/hz/wishlist/ls/38UI4NPXE228C">Ir al enlace</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </main>
        </div>
    </div>
</Layout>
